/*
Colors used: 
Primary Color: #0129BC (blue) & #FBF66A (yellow)
Secondary Color:

Fonts used: 
Headers: Young Serif
Paragraphs: Cormorant Garamond

Headers: 
H1 - 36 
H2 - 24
H3 - 16
p - 16
*/

body{
    background-color:#FBF66A;
    font-family:'cormorant garamond', serif;
    font-size:16px;
    line-height: 1.2;
    color: #212122;
}

h1, h2, h3{
    line-height: 1.5;
}

h1{
    font-family: 'young Serif', serif;
    font-size: 36px;
}

h2{
    font-family:'young Serif', serif;
    font-size:24px;
}

h3{
    font-family: 'young Serif', serif;
    font-size:16px;
    font-weight:bold;
    }


img {
    width: 100%;
  }

a{
    color: #0129BC;
    text-decoration: none;
}

a:visited{
    color:#0129BC;
}

a:hover, 
a:focus{
    color: #3A2A8C;
    text-decoration: underline;
}    

a:active{
    color:#3A2A8C;
    text-decoration: none;
}